@import "tailwindcss";

@theme {
  --color-brand-purple: #7c3aed; /* purple-600 */
  --color-brand-purple-hover: #6d28d9; /* purple-700 */
}

body {
  background-color: #111827; /* gray-900 */
  color: #f3f4f6; /* gray-100 */
}
